/* esse é um comentário */
/*
.primary-header{
	background-color: blue ; 
}
*/

body{
	background-color: #FAF8DA;
	font-family: 'Open Sans', sans-serif;
	margin: 0px; /* Aula 5*/
}
.USA-flag{
	width: 50px;

}
.primary-header{
	text-align: center;
}

.main-heading{
	color: #205D76;
	font-size: 70px;
	margin-top: 2px;
	padding: 40px; /*????*/
}

.town-preview{
	width: 650px;
}

.store-section {
	display: flex;
	display: -webkit-flex; /* This is a vendor prefix! */
	margin: 50px auto; /*esse que faiz ????*/
	width: 450px;
}
.building{
	width: 200px;
}
.store-details { 
    margin-left: 30px;
}

.category-heading{
	color: #205D76;
	font-size: 30px;
}

.store-list{
	color: #FFC122; /* Muda a cor dos marcadores da lista */
	padding-left: 15px;
}
.store-name{
	margin-bottom: 10px;
}

.store-link{
	color: #EA6E2F;
	font-size: 20px;

}
/*
footer{
	background-color: #FFC122;
}*/
.primary-footer{
	background-color: #FFC122;
	padding: 1px;
	text-align: center; /* Aula 5 */
	
}

.created-by{
	color: #FFFFFF;
	font-size: 20px;
}
